.radio {
  position: relative;
  display: inline-block;
}

.radio__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.radio__control {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 28px;
  height: 28px;
  border: 1px solid var(--gray-2);
  border-radius: 50%;

  background-color: var(--white);
}

/* Mark */
.radio__control::before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary);

  visibility: hidden;
}

.radio__label {
  color: var(--gray-4);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.radio__input {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

/* Focus */
.radio__input:focus ~ .radio__state .radio__label {
  text-decoration: underline;
}

/* Checked */
.radio__input:checked ~ .radio__state .radio__control {
  border-color: var(--primary);
  border-width: 2px;
}

.radio__input:checked ~ .radio__state .radio__control::before {
  visibility: visible;
}

/* Disabled */
.radio__input:disabled ~ .radio__state {
  cursor: default;
}

.radio__input:disabled ~ .radio__state .radio__control {
  background-color: var(--gray-2);
  border-color: var(--gray-2);
}

.radio__input:disabled ~ .radio__state .radio__control::before {
  background-color: var(--gray-3);
}

.radio__input:disabled ~ .radio__state .radio__label {
  color: var(--gray-2);
}
