.calendar {
  box-sizing: border-box;
  min-width: 260px;

  padding: 28px 26px 32px;
  border: 1px solid var(--gray-3);
  border-radius: 8px;
}

.calendar__title {
  color: var(--gray-blue-4);
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  text-align: center;
}

.calendar__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  width: 100%;
  margin-top: 16px;
}

.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1 / 1;

  color: var(--gray-blue-4);
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.calendar__item_header {
  margin-bottom: 8px;

  color: var(--gray-3);
  font-family: 'Inter';
  font-size: 14px;
}

.calendar__item_selected {
  background-color: var(--primary);
  color: var(--white);
}

.calendar__item_range {
  background-color: var(--primary-light);
}
